extends ../layout

block content
	h2(class="gear-text-white") Match #{match.match_number} - Winner: #{match.winning_alliance}
	- var thisObj = {};

	div(class="w3-container")
		div(class="w3-responsive")
			table(class="w3-table")
				tr
					th(class="gear-text-white") Attribute
					th(class="gear-text-blue") Blue
					th(class="gear-text-red") Red
				- blueObj = match.score_breakdown.blue;
				- redObj = match.score_breakdown.red;
				- for (var property in blueObj) { if (blueObj.hasOwnProperty(property)) {
				tr
					td(class="w3-small") #{property}:
					td <b>#{blueObj[property]}</b>
					td <b>#{redObj[property]}</b>
				- } }
