extends ../layout

block content
	h2(class="gear-text-white") Statistical summary of ALL teams
	h6 <i>Click on a metric to compare individual teams</i>
	
	if (aggdata)
		table(class="w3-table")
			tr
				th Metric
				th(class="w3-right-align") Min
				th(class="w3-right-align") Avg
				th(class="w3-right-align") Var
				th(class="w3-right-align") Max
			each agg in aggdata
				tr
					- var text = agg.key; var result1 = text.replace( /([A-Z])/g, " $1" ); var result2 = result1.charAt(0).toUpperCase() + result1.slice(1)
					td(class="w3-text-light-gray w3-small")
						a(class="gear-btn theme-link gear-hover-white w3-btn" href=`/reports/metricintel?key=${agg.key}`)= result2
					- var minCol = 'w3-right-align w3-text-white'
					- if (agg.min == 0) minCol = 'w3-right-align w3-text-gray'
					td(class=`${minCol}`)= agg.min
					- var avgCol = 'w3-right-align w3-text-white'
					- if (agg.avg == 0) avgCol = 'w3-right-align w3-text-gray'
					td(class=`${avgCol}`)= agg.avg
					- var varCol = 'w3-right-align w3-text-white'
					- if (agg.var == 0) varCol = 'w3-right-align w3-text-gray'
					td(class=`${avgCol}`)= agg.var
					- var maxCol = 'w3-right-align w3-text-white'
					- if (agg.max == 0) maxCol = 'w3-right-align w3-text-gray'
					td(class=`${maxCol}`)= agg.max

