extends ../layout

block content
	h2(class="gear-text-white")= team.key.replace('frc','Team ')
	p
	h2 #{team.nickname}
	if (ranking)
		h4(class="gear-text-white") Currently ranked ##{ranking.rank} </br> #{ranking.record.wins+'-'+ranking.record.losses+'-'+ranking.record.ties} record with #{ranking.extra_stats[0]} RP
	- var country = '';
	- if (team.country != 'USA') country = team.country;
	h4(class="gear-text-white" style="font-style:italic") From: #{team.city}, #{team.state_prov} #{country}
	h4(class="gear-text-white" style="font-style:italic") #{team.name}
	a(href=`/reports/upcoming?team=${team.key}`) Click here to see upcoming matches for Team #{team.key.substring(3)}
	p

	script.
		/*
			function showHide(id) {
				var x = document.getElementById(id + 'Section');
				if (x.className.indexOf("w3-show") == -1)
					x.className += " w3-show";
				else
					x.className = x.className.replace(" w3-show", "");
					
				var y = document.getElementById(id + 'Button');
				if (y.textContent.indexOf("▼ Show") == -1)
					y.textContent = y.textContent.replace("▲ Hide", "▼ Show");
				else
					y.textContent = y.textContent.replace("▼ Show", "▲ Hide");
			}
		*/
		function toggle(sectionId, elem){
			//hide/show
			var x = document.getElementById(sectionId);
			if (x.className.indexOf("w3-show") == -1)
				x.className += " w3-show";
			else
				x.className = x.className.replace(" w3-show", "");
			
			//change text thingy
			var caret = elem.firstElementChild;//is span w/ caret
			var text = caret.nextElementSibling; //is main text
			
			text.innerText = (caret.innerText[0] == "▼") ? "Hide " : "Show ";
			caret.innerText = (caret.innerText[0] == "▼") ? "▲\xa0" : "▼\xa0";
			
		}
		
	button#PitScoutingButton(onClick="toggle('PitScoutingSection', this)" class="w3-block w3-btn  w3-left-align w3-border-gray w3-border-bottom") 
		span(class="w3-left") &#9660;&nbsp;
		span Show 
		span Pit Scouting
	div#PitScoutingSection(class="w3-container w3-hide")
		if (data)
			h1 Current Day Pit Scouting Info
			each element in layout
				case element.type
					when "checkbox"
					when "counter"
					when "badcounter"
					when "multiselect"
					when "textblock"
						h4(class="gear-text-white") #{element.label} <strong>#{data1[element.id]}</strong>
					when "h2"
						h2 #{element.label}
					when "spacer"
						p
			if (inTable)
				| </table>
		else
			h6 No current day pit scouting data yet - check back later
		if (data1)
			hr
			h2 Prior Day Pit Scouting Info
			each element in layout
				case element.type
					when "checkbox"
					when "counter"
					when "badcounter"
					when "multiselect"
					when "textblock"
						h5(class="gear-text-white") #{element.label} <strong>#{data1[element.id]}</strong>
					when "h2"
						h3 #{element.label}
					when "spacer"
						p
		else
			hr
			h6 No prior day pit scouting data yet - check back later

	p
	button#StatisticsButton(onClick="toggle('StatisticsSection', this)" class="w3-block w3-btn  w3-left-align w3-border-gray w3-border-bottom w3-large") 
		span(class="w3-left") &#9660;&nbsp;
		span Show 
		span Statistics
	div#StatisticsSection(class="w3-container w3-hide")
		if (aggdata)
			h2(class="gear-text-white") Statistics for #{team.key.replace('frc','team ')}
			h6 <i>Click on a metric to compare vs. other teams</i>
			table(class="w3-table")
				tr
					th Metric
					th(class="w3-right-align") Min
					th(class="w3-right-align") Avg
					th(class="w3-right-align") Var
					th(class="w3-right-align") Max
				each agg in aggdata
					tr
						td(class="w3-text-light-gray w3-small")
							a(href=`/reports/metricintel?key=${agg.key}`)= agg.key
						- var minCol = 'w3-right-align w3-text-white'
						- if (agg.min == 0) minCol = 'w3-right-align w3-text-gray'
						td(class=`${minCol}`)= agg.min
						- var avgCol = 'w3-right-align w3-text-white'
						- if (agg.avg == 0) avgCol = 'w3-right-align w3-text-gray'
						td(class=`${avgCol}`)= agg.avg
						- var varCol = 'w3-right-align w3-text-white'
						- if (agg.var == 0) varCol = 'w3-right-align w3-text-gray'
						td(class=`${varCol}`)= agg.var
						- var maxCol = 'w3-right-align w3-text-white'
						- if (agg.max == 0) maxCol = 'w3-right-align w3-text-gray'
						td(class=`${maxCol}`)= agg.max

	p
	button#PreviousMatchesButton(onClick="toggle('PreviousMatchesSection', this)" class="w3-block w3-btn w3-left-align w3-border-gray w3-border-bottom") 
		span(class="w3-left") &#9660;&nbsp;
		span Show 
		span Previous Matches
	div#PreviousMatchesSection(class="w3-container w3-hide")
		h2(class="gear-text-white") Previous matches
		
		if (matches && matches.length > 0)		
			h6 <i>Click team number for match scouting details</i>
			h6 <i>Click match button for overall alliance performances</i>
			each match in matches
				hr
				div(class="w3-row")
					div(class="w3-col s12 m2")
						div(class="w3-dark-grey gear-hover-white w3-btn w3-block w3-border")
							- var matchPrefix = "";
							- if (match.comp_level != 'qm') matchPrefix = "" + match.comp_level + "" + match.set_number + " ";
							- var outcome = "Tie!";
							- if (match.winning_alliance == 'red') outcome = "Red won";
							- if (match.winning_alliance == 'blue') outcome = "Blue won";
							a(href=`/reports/matchintel?key=${match.key}`) 
								span #{matchPrefix.toUpperCase()}Match #{match.match_number}: #{outcome}
					div(class="w3-col m1") &nbsp;
					div(class="w3-col s8 m2")
						div(class="w3-col w3-border")
							each teamkey in match.alliances.blue.team_keys
								- var teamStyleBlue = "";
								- if (teamkey == team.key) teamStyleBlue = "font-weight:800";
								a(href=`/reports/teammatchintel?key=${match.key}_${teamkey}`)
									div(class="gear-blue gear-hover-white w3-btn w3-block" style=`${teamStyleBlue}`)
										span= teamkey.substring(3)
					div(class="w3-col s4 m2")
						- var divClassBlue = 'w3-dark-grey w3-btn w3-block w3-border';
						- if (match.winning_alliance == 'blue') divClassBlue = 'w3-white w3-btn w3-block w3-border';
						div(class=`${divClassBlue}` style="height:110px")
							if (match.alliances.blue.score > -1)
								span Score:
								br
								span= match.alliances.blue.score
								br
								- var blueQuests = ''
								- if (match.score_breakdown.blue.autoQuestRankingPoint) blueQuests = 'AQ '
								- if (match.score_breakdown.blue.faceTheBossRankingPoint) blueQuests += 'FB'
								span= blueQuests
							else
								span &nbsp;
					div(class="w3-col m1") &nbsp;
					div(class="w3-col s8 m2")
						div(class="w3-col w3-border")
							each teamkey in match.alliances.red.team_keys
								- var teamStyleRed = "";
								- if (teamkey == team.key) teamStyleRed = "font-weight:800";
								a(href=`/reports/teammatchintel?key=${match.key}_${teamkey}`)
									div(class="gear-red gear-hover-white w3-btn w3-block" style=`${teamStyleRed}`)
										span= teamkey.substring(3)
					div(class="w3-col s4 m2")
						- var divClassRed = 'w3-dark-grey w3-btn w3-block w3-border';
						- if (match.winning_alliance == 'red') divClassRed = 'w3-white w3-btn w3-block w3-border';
						div(class=`${divClassRed}` style="height:110px")
							if (match.alliances.red.score > -1)
								span Score:
								br
								span= match.alliances.red.score
								br
								- var redQuests = ''
								- if (match.score_breakdown.red.autoQuestRankingPoint) redQuests = 'AQ '
								- if (match.score_breakdown.red.faceTheBossRankingPoint) redQuests += 'FB'
								span= redQuests
							else
								span &nbsp;
				if (match.scoringdata)
					each element in scorelayout
						case element.type
							when "textblock"
								if (match.scoringdata[element.id])
									h5(class="gear-text-white") #{element.label} <strong>#{match.scoringdata[element.id]}</strong>
		else
			h6 No previous matches yet - check back later

					