extends ../layout

block content
	h2(class="gear-text-white")
		a(href=`/reports/teamintel?team=${teammatch.team_key}`)= teammatch.team_key.replace('frc','Team #')
	p
	h3 Match ##{teammatch.match_number} - #{teammatch.alliance} alliance 
	
	hr
	if (data)
		each element in layout
			case element.type
				when "checkbox"
					- var boolVal = 'Yes';
					- if (data[element.id] == 0) boolVal = 'No';
					h4(class="gear-text-white") #{element.label} <strong>#{boolVal}</strong>
				when "counter"
				when "badcounter"
				when "multiselect"
				when "textblock"
					h4(class="gear-text-white") #{element.label}: <strong>#{data[element.id]}</strong>
				when "h2"
					h2 #{element.label}
				when "spacer"
					p
	else
		h4(class="gear-text-white") <i>No match scouting data available for this team for this match</i>

