extends ../layout

block content
	h2(class="gear-text-white")= team.key.replace('frc','Team #')
	p
	h2 #{team.nickname}
	- var country = '';
	- if (team.country != 'USA') country = team.country;
	h4(class="gear-text-white" style="font-style:italic") From: #{team.city}, #{team.state_prov} #{country}
	h4(class="gear-text-white" style="font-style:italic") #{team.name}
	if (data)
		hr
		each element in layout
			case element.type
				when "checkbox"
				when "counter"
				when "badcounter"
				when "multiselect"
				when "textblock"
					h4(class="gear-text-white") #{element.label} <strong>#{data[element.id]}</strong>
				when "h2"
					h2 #{element.label}
				when "spacer"
					p
	hr
	h2(class="gear-text-white") Previous matches
	table(class="w3-table w3-bordered")
		each match in matches
			tr
				td
					ul(class="w3-ul")
						li(class="gear-no-border")
							p
						li(class="gear-no-border")
							div(class="gear-btn w3-purple gear-hover-white w3-btn w3-block")
								span Match #{match.match_number}
				td
					- var ulClassBlue = 'w3-ul';
					- if (match.winning_alliance == 'blue') ulClassBlue = 'w3-ul w3-border';
					ul(class=`${ulClassBlue}`)
						each teamkey in match.alliances.blue.team_keys
							li(class="gear-no-border")
								- var teamStyleBlue = "";
								- if (teamkey == team.key) teamStyleBlue = "font-weight:bold";
								div(class="gear-btn gear-blue gear-hover-white w3-btn w3-block" style=`${teamStyleBlue}`)
									span= teamkey.substring(3)
				if (match.alliances.blue.score > -1)
					td
						- var divClassBlue = 'w3-grey w3-btn w3-block';
						- if (match.winning_alliance == 'blue') divClassBlue = 'w3-white w3-btn w3-block';
						ul(class="w3-ul")
							li(class="gear-no-border")
								p
							li(class="gear-no-border")
								div(class=`${divClassBlue}`)
									span= match.alliances.blue.score
				else
					td
				td
					- var ulClassRed = 'w3-ul';
					- if (match.winning_alliance == 'red') ulClassRed = 'w3-ul w3-border';
					ul(class=`${ulClassRed}`)
						each teamkey in match.alliances.red.team_keys
							li(class="gear-no-border")
								- var teamStyleRed = "";
								- if (teamkey == team.key) teamStyleRed = "font-weight:bold";
								div(class="gear-btn gear-red gear-hover-white w3-btn w3-block" style=`${teamStyleRed}`)
									span= teamkey.substring(3)
				if (match.alliances.red.score > -1)
					td
						- var divClassRed = 'w3-grey w3-btn w3-block';
						- if (match.winning_alliance == 'red') divClassRed = 'w3-white w3-btn w3-block';
						ul(class="w3-ul")
							li(class="gear-no-border")
								p
							li(class="gear-no-border")
								div(class=`${divClassRed}`)
									span= match.alliances.red.score
				else
					td