extends ../layout

block content
	h2(class="gear-text-white")= team.key.replace('frc','Team ')
	p
	h2 #{team.nickname}
	- var country = '';
	- if (team.country != 'USA') country = team.country;
	h4(class="gear-text-white" style="font-style:italic") From: #{team.city}, #{team.state_prov} #{country}
	h4(class="gear-text-white" style="font-style:italic") #{team.name}
	if (data)
		hr
		each element in layout
			case element.type
				when "checkbox"
				when "counter"
				when "badcounter"
				when "multiselect"
				when "textblock"
					h4(class="gear-text-white") #{element.label} <strong>#{data[element.id]}</strong>
				when "h2"
					h2 #{element.label}
				when "spacer"
					p
	else
		hr
		h6 No pit scouting data yet - check back later
	if (aggdata)
		hr
		h2(class="gear-text-white") Statistics for #{team.key.replace('frc','team ')}
		h6 <i>Click on a metric to compare vs. other teams</i>
		table(class="w3-table")
			tr
				th Metric
				th(class="w3-right-align") Min
				th(class="w3-right-align") Avg
				th(class="w3-right-align") Var
				th(class="w3-right-align") Max
			each agg in aggdata
				tr
					td(class="w3-text-light-gray w3-small")
						a(href=`/reports/metricintel?key=${agg.key}`)= agg.key
					- var minCol = 'w3-right-align w3-text-white'
					- if (agg.min == 0) minCol = 'w3-right-align w3-text-gray'
					td(class=`${minCol}`)= agg.min
					- var avgCol = 'w3-right-align w3-text-white'
					- if (agg.avg == 0) avgCol = 'w3-right-align w3-text-gray'
					td(class=`${avgCol}`)= agg.avg
					- var varCol = 'w3-right-align w3-text-white'
					- if (agg.var == 0) varCol = 'w3-right-align w3-text-gray'
					td(class=`${varCol}`)= agg.var
					- var maxCol = 'w3-right-align w3-text-white'
					- if (agg.max == 0) maxCol = 'w3-right-align w3-text-gray'
					td(class=`${maxCol}`)= agg.max

	hr
	h2(class="gear-text-white") Previous matches
	h6 <i>Click team number for match scouting details</i>
	h6 <i>Click match button for overall alliance performances</i>
	
	each match in matches
		hr
		div(class="w3-row")
			div(class="w3-col s12 m2")
				div(class="w3-dark-grey gear-hover-white w3-btn w3-block w3-border")
					- var outcome = "Tie!";
					- if (match.winning_alliance == 'red') outcome = "Red won";
					- if (match.winning_alliance == 'blue') outcome = "Blue won";
					a(href=`/reports/matchintel?key=${match.key}`) 
						span Match #{match.match_number}: #{outcome}
			div(class="w3-col m1") &nbsp;
			div(class="w3-col s8 m2")
				div(class="w3-col w3-border")
					each teamkey in match.alliances.blue.team_keys
						- var teamStyleBlue = "";
						- if (teamkey == team.key) teamStyleBlue = "font-weight:bold";
						a(href=`/reports/teammatchintel?key=${match.key}_${teamkey}`)
							div(class="gear-blue gear-hover-white w3-btn w3-block" style=`${teamStyleBlue}`)
								span= teamkey.substring(3)
			div(class="w3-col s4 m2")
				- var divClassBlue = 'w3-dark-grey w3-btn w3-block w3-border';
				- if (match.winning_alliance == 'blue') divClassBlue = 'gear-btn w3-white w3-btn w3-block w3-border';
				div(class=`${divClassBlue}` style="height:110px")
					if (match.alliances.blue.score > -1)
						span Score:
						br
						span= match.alliances.blue.score
						br
						- var blueQuests = ''
						- if (match.score_breakdown.blue.autoQuestRankingPoint) blueQuests = 'AQ '
						- if (match.score_breakdown.blue.faceTheBossRankingPoint) blueQuests += 'FB'
						span= blueQuests
					else
						span &nbsp;
			div(class="w3-col m1") &nbsp;
			div(class="w3-col s8 m2")
				div(class="w3-col w3-border")
					each teamkey in match.alliances.red.team_keys
						- var teamStyleRed = "";
						- if (teamkey == team.key) teamStyleRed = "font-weight:bold";
						a(href=`/reports/teammatchintel?key=${match.key}_${teamkey}`)
							div(class="gear-red gear-hover-white w3-btn w3-block" style=`${teamStyleRed}`)
								span= teamkey.substring(3)
			div(class="w3-col s4 m2")
				- var divClassRed = 'w3-dark-grey w3-btn w3-block w3-border';
				- if (match.winning_alliance == 'red') divClassRed = 'gear-btn w3-white w3-btn w3-block w3-border';
				div(class=`${divClassRed}` style="height:110px")
					if (match.alliances.red.score > -1)
						span Score:
						br
						span= match.alliances.red.score
						br
						- var redQuests = ''
						- if (match.score_breakdown.red.autoQuestRankingPoint) redQuests = 'AQ '
						- if (match.score_breakdown.red.faceTheBossRankingPoint) redQuests += 'FB'
						span= redQuests
					else
						span &nbsp;
