extends ../layout
block content
	style.
		.teamNo{ 
			display: inline-block;
			/*width: 33.3%;*/
			min-width: 40px;
			/*padding: 12px 5px 12px 5px;*/
			text-align: center;
		}
		.rank{
			display: none;
			min-width: 30px;
		}
		html{
			overflow-x: visible;
		}
		@media (max-width: 601px){
			.teamNo{
				width: 33.3%;
			}
		}
	- team = !!team ? team.substring(3) : null;
	if !matches[0] && !team
		h3 No upcoming matches for this tournament.
	else if !matches[0]
		h3 No upcoming matches for team number #{team}.
	else
		if team
			h3(class="gear-text-white") Upcoming matches for team #{team}
		else
			h3(class="gear-text-white") Upcoming matches
		div(class="w3-container")
			label(class="gear-text-white")  
			input(class="w3-padding gear-dark-gray w3-margin-right" style="border: none; width: 6.2em; position:relative;top:1px;" type="number" placeholder="Team #" id="teamNo")
			a
				div(class="gear-btn gear-dark-gray gear-hover-white w3-btn" onclick="redUpcoming()") View for another team
		div#chkShowRanksContainer(class="w3-container")
			input#chkShowRanks(type="checkbox" class="w3-check")
			h4(class="gear-text-white w3-show-inline-block w3-margin-left")
				label(for="chkShowRanks") Show Team Ranks
		
		each match, i in matches
			- match.teams = [];
			each team, i in match.alliances.blue.team_keys
				- match.teams[i] = team.substring(3);
			each team, i in match.alliances.red.team_keys
				- match.teams[i + 3] = team.substring(3);
				
			- //gets date crap
			- var date = new Date( match.time * 1000 )
			- if (match.predicted_time) date = new Date( match.predicted_time * 1000 );
			- var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
			- var day = days[date.getDay()];
			- var hour = date.getHours();
			- var minute = date.getMinutes();
			- //makes minute crap 2 digits
			- minute = (minute.toString().length==1) ? "0".concat(minute.toString()) : minute;
			
			div(class="w3-container w3-padding")
				div(class="w3-mobile w3-left theme-gray")
					div(class="w3-mobile w3-left")
						div(class="w3-mobile" style="height:60px")
							div(class="w3-margin-right" style="position: relative; display: inline-block; top: 18px; left: 12px;")
								span #{day} @ #{hour}:#{minute} 
								- var matchPrefix = "";
								- if (match.comp_level != 'qm') matchPrefix = "" + match.comp_level + "" + match.set_number + " ";
								span(style="display: inline-block; min-width: 85px") - #{matchPrefix.toUpperCase()} Match #{match.match_number}:
								
					div(class="w3-left w3-padding w3-mobile")
						div(class="w3-mobile w3-show-block w3-content gear-blue w3-text-white " style="min-width: 10px;")
							each teamNo, j in match.teams
								- if (j <= 2)
									- if (team == match.teams[j])
										a(href=`/reports/teamintel?team=frc${teamNo}` style="font-weight: bold" class="gear-hover-white teamNo w3-padding")
											span(class="teamNo")=teamNo
											span(class="rank gear-text-white") &nbsp[#{teamRanks['frc'+teamNo]}]
									- else
										a(href=`/reports/teamintel?team=frc${teamNo}` class="gear-hover-white teamNo w3-padding-large")
											span(class="teamNo")=teamNo
											span(class="rank gear-text-white") &nbsp[#{teamRanks['frc'+teamNo]}]
						div(class="w3-mobile w3-show-block w3-content theme-red w3-text-white" style="min-width: 10px;")
							each teamNo, j in match.teams
								- if (j >= 3)
									- if (team == match.teams[j])
										a(href=`/reports/teamintel?team=frc${teamNo}` style="font-weight: bold" class="gear-hover-white teamNo w3-padding-large")
											span(class="teamNo")=teamNo
											span(class="rank gear-text-white") &nbsp[#{teamRanks['frc'+teamNo]}]
									- else
										a(href=`/reports/teamintel?team=frc${teamNo}` class="gear-hover-white teamNo w3-padding-large")
											span(class="teamNo")=teamNo
											span(class="rank gear-text-white") &nbsp[#{teamRanks['frc'+teamNo]}]
					div(class="w3-left w3-padding w3-mobile")
						a(href=`/reports/upcomingmatchmetrics?key=${match.key}`) <i>Click here to compare alliances</i>
				div(class="w3-rest")
					//can be used for results later for anothah pug fiel
	script.
		//just making it like this so i don't have to modify the html, just in case we wanna do hover links or whatever again.
		//For example: if we have a stats page for each match, or something.
		function hover(){}function unhover(){}
		function redUpcoming(){
			if( !$("#teamNo").val() ){
				window.location.href = "/reports/upcoming";
			}else{
				var key = "frc".concat($("#teamNo").val());
				window.location.href = "/reports/upcoming?team="+key;
			}
		}
		$("#teamNo").keydown(function(e){
			if(e.keyCode == 13){
				redUpcoming();
			}
		});
		$("#chkShowRanks").click(function(e){
			if(this.checked){
				$(".rank").css("display", "inherit");
			}else{
				$(".rank").css("display", "none");
			}
		});
		/*
		function hover(elem, id){
			elem.classList.add("w3-gray");
			elem.classList.remove("gear-dark-gray");
			x = elem;
			if(id == 2){
				elem.parentElement.previousElementSibling.firstElementChild.classList.add("w3-gray");
				elem.parentElement.previousElementSibling.firstElementChild.classList.remove("gear-dark-gray");
			}
			if(id == 1){
				elem.parentElement.nextElementSibling.firstElementChild.classList.add("w3-gray");
				elem.parentElement.nextElementSibling.firstElementChild.classList.remove("gear-dark-gray");
			}
		}
		function unhover(elem, id){
			elem.classList.remove("w3-gray");
			elem.classList.add("gear-dark-gray");
			if(id == 2){
				elem.parentElement.previousElementSibling.firstElementChild.classList.remove("w3-gray");
				elem.parentElement.previousElementSibling.firstElementChild.classList.add("gear-dark-gray");
			}
			if(id == 1){
				elem.parentElement.nextElementSibling.firstElementChild.classList.remove("w3-gray");
				elem.parentElement.nextElementSibling.firstElementChild.classList.add("gear-dark-gray");
			}
		}
		*/