extends ../layout

block content
	if teams.length > 0
		h2(class="gear-text-white") Pit Scouting
		table(class="w3-content w3-center")
			each team in teams
				if( user.name == team.primary )
					- color = "gear-text-orange";
				else
					- color = "gear-text-white";
				tr(class=`w3-margin gear-black gear-hover-white ${color}`)
					td
						h4(class=`${color}`) #{team.primary}
					td
						if team.data
							div(class="gear-btn w3-dark-grey w3-btn w3-section gear-margin-sides")
								span= team.team_key.substring(3)
						else
							a(href=`/scouting/pit?team=${team.team_key}`) 
								div(class="gear-btn gear-orange gear-hover-white w3-btn w3-section gear-margin-sides")
									span= team.team_key.substring(3)
					td
						h4(class=`${color}`) #{team.nickname}
