extends ../layout

block content
	div(style="width:800px;margin:auto;text-align:center")
		each element in layout
			case element.type
				when "checkbox"
					input(type="checkbox" class="w3-check" onclick=`updateCheck_${element.id}()`)
					span  #{element.label}
					p
				when "counter"
					div(class="w3-row")
						div(class="w3-col m2")
							button(class="w3-button w3-red" onclick=`update_${element.id}(-1)`) -
						div(class="w3-col m8")
							label(id=`${element.id}`)
								center #{element.label}: 0
						div(class="w3-col m2")
							button(class="w3-button w3-green" onclick=`update_${element.id}(1)`) +
					p
				when "badcounter"
					div(class="w3-row")
						div(class="w3-col m2")
							button(class="w3-button w3-green" onclick=`update_${element.id}(-1)`) -
						div(class="w3-col m8")
							label(id=`${element.id}`)
								center #{element.label}: 0
						div(class="w3-col m2")
							button(class="w3-button w3-red" onclick=`update_${element.id}(1)`) +
					p
				when "h2"
					h2 #{element.label}
	| <script>
	each element in layout
		case element.type
			when "checkbox"
				|
				| var #{element.id} = false;
				|
				| function updateCheck_#{element.id}()
				| { #{element.id} = !#{element.id}; }
			when "counter"
			when "badcounter"
				|
				| var #{element.id} = 0;
				|
				| function update_#{element.id}(i)
				| {
				| 	#{element.id} += i;
				| 	if (#{element.id} < 0) #{element.id} = 0; 
				|	document.getElementById("#{element.id}").innerHTML = "#{element.label}: " + #{element.id};
				| }
	| </script>