extends ../layout

block content
	table(class="w3-table")
		th name
		th subteam
		th class
		th yrs on team
		each member, i in members
			form(action="updatemember" method="post" class="w3-container")
				tr
					td
						input(value="#{member.name}" onclick="this.select()" name="name" type="text" class="w3-input w3-dark-gray gear-no-border")
					td
						input(value="#{member.subteam}" onclick="this.select()" name="subteam" type="text" class="w3-input w3-dark-gray gear-no-border")
					td
						input(value="#{member.class}" onclick="this.select()" name="class" type="text" class="w3-input w3-dark-gray gear-no-border")
					td
						input(value="#{member.years}" onclick="this.select()" name="years" type="text" class="w3-input w3-dark-gray gear-no-border")
					td
						input(value="#{member.present}" name="present" type="checkbox")
