extends layout

block content
	form#resetmatches(name="resetmatches" method="post" action="/admin/current/resetmatches")
		button#btnSubmit(type="submit") RESET ALL MATCHES
	if locals.matches
		table(class="w3-table")
			tr
				th Level
				th Num
				th Time
				th Actual
				th Blue
				th 
				th
				th
				th Red
				th
				th
				th
				th Winner
				th Update
			each match in matches
				tr
					td= match.comp_level
					td= match.match_number
					td= match.time
					td= match.actual_time
					td= match.alliances.blue.team_keys[0]
					td= match.alliances.blue.team_keys[1]
					td= match.alliances.blue.team_keys[2]
					td Score: #{match.alliances.blue.score}
					td= match.alliances.red.team_keys[0]
					td= match.alliances.red.team_keys[1]
					td= match.alliances.red.team_keys[2]
					td Score: #{match.alliances.red.score}
					td= match.winning_alliance
					td
						button(onClick=`updateMatch('${match.key}')`) #{match.key}
	form#updatematchdata(name="updatematchdata" method="post" action="/admin/current/updatematch")
		input#matchId(type="hidden", name="matchId")
	script.
		function updateMatch(matchId)
		{
			console.log('matchId='+matchId);
			document.getElementById("matchId").value = matchId;
			document.getElementById("updatematchdata").submit();
		}
