extends layout

block content
	div(class="w3-container")
		div(class="w3-row")
			div(class="w3-col m2 w3-padding-small") actions
			div(class="w3-col m3 w3-padding-small") name
			div(class="w3-col m2 w3-padding-small") subteam
			div(class="w3-col m3 w3-padding-small") class
			div(class="w3-col m2 w3-padding-small") yrs on team
		each member in members
			div(class="w3-row")
				form(action="/admin/teammembers/updatemember" method="post")
					input(type="hidden" name="memberId" value=member._id)
					div(class="w3-col m2 w3-padding-small")
						button(class="w3-btn w3-green w3-block" type="submit") Update
					div(class="w3-col m3 w3-padding-small")
						input(type="text" value=member.name name="name" class="w3-input w3-dark-gray gear-no-border gear-input-height")
					div(class="w3-col m2 w3-padding-small")
						select(class="w3-select w3-dark-gray gear-no-border" name="subteam")
							- options = ["mech", "elec", "prog", "exec", "lead", "driv", "support"];
							each option in options
								- if (member.subteam == option)
									option(value=option selected)= option
								- else
									option(value=option)= option
					div(class="w3-col m3 w3-padding-small")
						select(class="w3-select w3-dark-gray gear-no-border" name="className")
							- classNames = ["freshman", "sophomore", "junior", "senior", "middleschool"	];
							each option in classNames
								- if (member.className == option)
									option(value=option selected)= option
								- else
									option(value=option)= option
					div(class="w3-col m2 w3-padding-small")
						input(type="text" value=member.years name="years" class="w3-input w3-dark-gray gear-no-border gear-input-height")
		div(class="w3-row")
			form(action="/admin/teammembers/addmember" method="post")
				div(class="w3-col m2 w3-padding-small")
					button(type="submit" class="w3-btn w3-lime w3-block") add
				div(class="w3-col m3 w3-padding-small")
					input(type="text" class="w3-input w3-dark-gray w3-block gear-no-border gear-input-height" name="name" placeholder="name")
				div(class="w3-col m2 w3-padding-small")
					select(name="subteam" class="w3-select w3-dark-gray gear-no-border")
						- options = ["mech", "elec", "prog", "driv", "lead", "exec", "support"];
						each option in options
							option(value=option)= option
				div(class="w3-col m3 w3-padding-small")
					select(name="className" class="w3-select w3-dark-gray gear-no-border")
						- options = ["freshman", "sophomore", "junior", "senior", "middleschool"];
						each option in options
							option(value=option)= option
				div(class="w3-col m2 w3-padding-small")
					input(class="w3-input w3-dark-gray gear-no-border gear-input-height" name="years" type="text" placeholder="years on team")