extends layout

block content
	form(action="/scoring/submit" method="post")
		div(style="text-align:center")
			each element in layout
				case element.type
					when "checkbox"
						input(type="checkbox" class="w3-check" onclick=`updateCheck_${element.id}()` id=`${element.id}`)
						span  #{element.label}
						input(type="hidden" id=`${element.id}FormInput` name=`${element.id}` value="false")
						p
					when "counter"
						div(class="w3-row")
							div(class="w3-col s2 m4")
								button(class="w3-button w3-red" onclick=`updateCounter_${element.id}(-1)` type="button") -
							div(class="w3-col s8 m4")
								label(id=`${element.id}`)
									center #{element.label}: 0
							div(class="w3-col s2 m4")
								button(class="w3-button w3-green" onclick=`updateCounter_${element.id}(1)` type="button") +
						input(id=`${element.id}FormInput` type="hidden" name=`${element.id}` value="0")
						p
					when "badcounter"
						div(class="w3-row")
							div(class="w3-col s2 m4")
								button(class="w3-button w3-green" onclick=`updateCounter_${element.id}(-1)` type="button") -
							div(class="w3-col s8 m4")
								label(id=`${element.id}`)
									center #{element.label}: 0
							div(class="w3-col s2 m4")
								button(class="w3-button w3-red" onclick=`updateCounter_${element.id}(1)` type="button") +
						input(id=`${element.id}FormInput` type="hidden" name=`${element.id}` value="0")
						p
					when "h2"
						h2 #{element.label}
			center
				button(class="w3-button w3-cyan" type="submit") submit
	| <script>
	each element in layout
		case element.type
			when "checkbox"
				|
				| var #{element.id} = false;
				|
				| function updateCheck_#{element.id}()
				| {
				|	#{element.id} = !#{element.id};
				|	console.log(#{element.id});
				|	document.getElementById("#{element.id}FormInput").value = #{element.id};
				|	console.log(document.getElementById("#{element.id}FormInput").value);
				| }
			when "counter"
			when "badcounter"
				|
				| var #{element.id} = 0;
				|
				| function updateCounter_#{element.id}(i)
				| {
				| 	#{element.id} += i;
				| 	if (#{element.id} < 0) #{element.id} = 0; 
				|	document.getElementById("#{element.id}").innerHTML = "#{element.label}: " + #{element.id};
				|	document.getElementById("#{element.id}FormInput").value = #{element.id};
				| }
	| </script>