extends ../layout

block content
	table(class="table")
		th programming
		th mechanical
		th electrical
		tr
			td
				ul(class="list-group")
					each member, i in prog
						li(class="list-group-item")
							button(class='btn btn-block' chosenstate='false' id='#{member.name}' onclick='toggle("#{member.name}")')= member.name
			td
				ul(class="list-group")
					each member, i in mech
						li(class="list-group-item")
							button(class='btn btn-block' chosenstate='false' id='#{member.name}' onclick='toggle("#{member.name}")')= member.name
			td
				ul(class="list-group")
					each member, i in elec
						li(class="list-group-item")
							button(class='btn btn-block' chosenstate='false' id='#{member.name}' onclick='toggle("#{member.name}")')= member.name
	button(class="btn btn-info btn-block" onclick="submitPair()") submit
	script.
		var selectedDict = {};
	
		function toggle(id)
		{
			console.log(id);
			var currentstate = document.getElementById(id).getAttribute("chosenstate");
			console.log(currentstate);
			if (currentstate == "false")
			{
				document.getElementById(id).className = "btn btn-success btn-block";
				document.getElementById(id).setAttribute("chosenstate", "true");
				selectedDict[id] = id;
			}
			else
			{
				document.getElementById(id).className = "btn btn-block";
				document.getElementById(id).setAttribute("chosenstate", "false");
				delete selectedDict[id];
			}
		}
		
		function submitPair()
		{
			console.log(selectedArray);
			var selectedArray = [];
			for (var key in selectedDict)
			{
				selectedArray.push(selectedDict[key]);
			}
			console.log(selectedArray.toString());
			document.getElementById("selectedString").innerHTML = selectedArray.toString();
		}
		
	div(id="selectedString")
