extends ../layout
block content
	style.
		/*.img-img {
			height:150px;
		}*/
		.align {
			 position:relative;
			 top:50px;
		}
	if (teams)
		h2(class="gear-text-white") Team Info Chart
		h6 <i>Click on a team to see intel on that team or click on an image to make it bigger</i>
		table(class="w3-table")
			tr
				th(class="img-chart-small") Team #
				th(class="img-chart-medium") Team Name
				th(class="img-chart-small") Picture
				th(class="img-chart-big") Origin
			each team in teams
				tr
					td(class="w3-text-light-gray w3-center align")= team.team_number
					td(class="gear-text-white w3-center")
						a(href=`/reports/teamintel?team=${team.key}` class="align")= team.nickname
					td
						a(href=`/uploads/responsive/${event_year}_${team.key}_lg.jpg`)
							img(src=`/uploads/responsive/${event_year}_${team.key}_sm.jpg` alt="[No image available]" class="img-img" style="max-height:350px;")
					td(class="w3-text-light-gray w3-center align") #{team.city}
	else
		h2(class="gear-text-white") <i>There is no team info in the system yet</i>
		h6 Please check back later