input(type="checkbox" class="w3-check" onclick=`updateCheck_${element.id}()` id=`${element.id}`)
span  #{element.label}
input(type="hidden" id=`${element.id}FormInput` name=`${element.id}` value="false")
p